nifi-templates/sptrans-ingestion-v5.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>78d7bbf0-0199-1000-241f-1b53c32bf646</groupId>
    <name>sptrans-ingestion-v5</name>
    <snippet>
        <controllerServices>
            <id>7652af9b-49e1-387f-0000-000000000000</id>
            <parentGroupId>91ca5e45-087f-371e-0000-000000000000</parentGroupId>
            <versionedComponentId>7652af9b-49e1-387f-be17-e323d3c20c32</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.25.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>default-credentials</key>
                    <value>
                        <name>default-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>Access Key</key>
                    <value>
                        <name>Access Key</name>
                    </value>
                </entry>
                <entry>
                    <key>Secret Key</key>
                    <value>
                        <name>Secret Key</name>
                    </value>
                </entry>
                <entry>
                    <key>Credentials File</key>
                    <value>
                        <name>Credentials File</name>
                    </value>
                </entry>
                <entry>
                    <key>profile-name</key>
                    <value>
                        <name>profile-name</name>
                    </value>
                </entry>
                <entry>
                    <key>anonymous-credentials</key>
                    <value>
                        <name>anonymous-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>Assume Role ARN</key>
                    <value>
                        <name>Assume Role ARN</name>
                    </value>
                </entry>
                <entry>
                    <key>Assume Role Session Name</key>
                    <value>
                        <dependencies>
                            <propertyName>Assume Role ARN</propertyName>
                        </dependencies>
                        <name>Assume Role Session Name</name>
                    </value>
                </entry>
                <entry>
                    <key>Session Time</key>
                    <value>
                        <dependencies>
                            <propertyName>Assume Role ARN</propertyName>
                        </dependencies>
                        <name>Session Time</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-external-id</key>
                    <value>
                        <dependencies>
                            <propertyName>Assume Role ARN</propertyName>
                        </dependencies>
                        <name>assume-role-external-id</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-ssl-context-service</key>
                    <value>
                        <dependencies>
                            <propertyName>Assume Role ARN</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>assume-role-ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-proxy-host</key>
                    <value>
                        <dependencies>
                            <propertyName>Assume Role ARN</propertyName>
                        </dependencies>
                        <name>assume-role-proxy-host</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-proxy-port</key>
                    <value>
                        <dependencies>
                            <propertyName>Assume Role ARN</propertyName>
                        </dependencies>
                        <name>assume-role-proxy-port</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-sts-region</key>
                    <value>
                        <dependencies>
                            <propertyName>Assume Role ARN</propertyName>
                        </dependencies>
                        <name>assume-role-sts-region</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-sts-endpoint</key>
                    <value>
                        <dependencies>
                            <propertyName>Assume Role ARN</propertyName>
                        </dependencies>
                        <name>assume-role-sts-endpoint</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-sts-signer-override</key>
                    <value>
                        <dependencies>
                            <propertyName>Assume Role ARN</propertyName>
                        </dependencies>
                        <name>assume-role-sts-signer-override</name>
                    </value>
                </entry>
                <entry>
                    <key>custom-signer-class-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>CustomSignerType</dependentValues>
                            <propertyName>assume-role-sts-signer-override</propertyName>
                        </dependencies>
                        <name>custom-signer-class-name</name>
                    </value>
                </entry>
                <entry>
                    <key>custom-signer-module-location</key>
                    <value>
                        <dependencies>
                            <dependentValues>CustomSignerType</dependentValues>
                            <propertyName>assume-role-sts-signer-override</propertyName>
                        </dependencies>
                        <name>custom-signer-module-location</name>
                    </value>
                </entry>
            </descriptors>
            <name>AWSCredentialsProviderControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>default-credentials</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Access Key</key>
                </entry>
                <entry>
                    <key>Secret Key</key>
                </entry>
                <entry>
                    <key>Credentials File</key>
                </entry>
                <entry>
                    <key>profile-name</key>
                </entry>
                <entry>
                    <key>anonymous-credentials</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Assume Role ARN</key>
                </entry>
                <entry>
                    <key>Assume Role Session Name</key>
                </entry>
                <entry>
                    <key>Session Time</key>
                    <value>3600</value>
                </entry>
                <entry>
                    <key>assume-role-external-id</key>
                </entry>
                <entry>
                    <key>assume-role-ssl-context-service</key>
                </entry>
                <entry>
                    <key>assume-role-proxy-host</key>
                </entry>
                <entry>
                    <key>assume-role-proxy-port</key>
                </entry>
                <entry>
                    <key>assume-role-sts-region</key>
                    <value>us-west-2</value>
                </entry>
                <entry>
                    <key>assume-role-sts-endpoint</key>
                </entry>
                <entry>
                    <key>assume-role-sts-signer-override</key>
                    <value>Default Signature</value>
                </entry>
                <entry>
                    <key>custom-signer-class-name</key>
                </entry>
                <entry>
                    <key>custom-signer-module-location</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</type>
        </controllerServices>
        <processGroups>
            <id>9b83056b-52a5-3a04-0000-000000000000</id>
            <parentGroupId>91ca5e45-087f-371e-0000-000000000000</parentGroupId>
            <position>
                <x>456.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>9b83056b-52a5-3a04-a89e-180cac0a73c6</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>1edc731b-75b6-343b-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <versionedComponentId>1edc731b-75b6-343b-b48f-65db287fa96a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>3663295c-16a3-359d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3663295c-16a3-359d-afcb-249787e1ad72</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>00fc5d28-400e-3e53-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>00fc5d28-400e-3e53-97ea-ba0b88d1042c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3a80020e-4735-3d12-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <versionedComponentId>3a80020e-4735-3d12-8cb5-ea69b683c3b7</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>b11679c6-6f5b-387d-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>b11679c6-6f5b-387d-9b6a-4abfa007cac6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <source>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>0330b559-c33b-3cc7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0330b559-c33b-3cc7-a183-7059dae2fc3f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6da144fb-cba5-31c8-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <versionedComponentId>6da144fb-cba5-31c8-8bcb-ad37c877bafe</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>f516c578-dde6-3518-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f516c578-dde6-3518-8cae-d7ca87a61bc1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>0330b559-c33b-3cc7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0330b559-c33b-3cc7-a183-7059dae2fc3f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>81f9dc5c-11aa-3fd0-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <versionedComponentId>81f9dc5c-11aa-3fd0-b85f-7773d8b966b7</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>8b7a0a6f-6494-3191-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8b7a0a6f-6494-3191-97fc-f92a3979fefd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>0330b559-c33b-3cc7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0330b559-c33b-3cc7-a183-7059dae2fc3f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9bcdace8-6686-3921-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <versionedComponentId>9bcdace8-6686-3921-8343-da768243a8df</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>0330b559-c33b-3cc7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0330b559-c33b-3cc7-a183-7059dae2fc3f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>3663295c-16a3-359d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3663295c-16a3-359d-afcb-249787e1ad72</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cf5223e0-592e-3e25-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <versionedComponentId>cf5223e0-592e-3e25-a14c-49a4ab093184</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>25ce6ddc-48a7-362d-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>25ce6ddc-48a7-362d-8100-44766c944de0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <source>
                        <groupId>9b83056b-52a5-3a04-0000-000000000000</groupId>
                        <id>3663295c-16a3-359d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3663295c-16a3-359d-afcb-249787e1ad72</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>25ce6ddc-48a7-362d-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <position>
                        <x>1544.0</x>
                        <y>248.0</y>
                    </position>
                    <versionedComponentId>25ce6ddc-48a7-362d-8100-44766c944de0</versionedComponentId>
                </funnels>
                <funnels>
                    <id>b11679c6-6f5b-387d-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <position>
                        <x>584.0</x>
                        <y>560.0</y>
                    </position>
                    <versionedComponentId>b11679c6-6f5b-387d-9b6a-4abfa007cac6</versionedComponentId>
                </funnels>
                <processors>
                    <id>00fc5d28-400e-3e53-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>208.0</y>
                    </position>
                    <versionedComponentId>00fc5d28-400e-3e53-97ea-ba0b88d1042c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>0330b559-c33b-3cc7-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <position>
                        <x>912.0</x>
                        <y>512.0</y>
                    </position>
                    <versionedComponentId>0330b559-c33b-3cc7-a183-7059dae2fc3f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Socket Write Timeout</key>
<value>
    <name>Socket Write Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
    <name>oauth2-access-token-provider</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <dependencies>
        <propertyName>Basic Authentication Username</propertyName>
    </dependencies>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>send-message-body</propertyName>
    </dependencies>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <dependencies>
        <propertyName>form-body-form-name</propertyName>
    </dependencies>
    <name>set-form-filename</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <dependencies>
        <propertyName>Put Response Body In Attribute</propertyName>
    </dependencies>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-etag</propertyName>
    </dependencies>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>
    <name>cookie-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>
    <name>flow-file-naming-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Cookie</key>
<value>
    <name>Cookie</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>${sptrans.api.url}/Posicao</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Socket Write Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>RANDOM</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Cookie</key>
<value>${'Set-Cookie'}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SPTransPosicao</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>3663295c-16a3-359d-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <position>
                        <x>912.0</x>
                        <y>208.0</y>
                    </position>
                    <versionedComponentId>3663295c-16a3-359d-afcb-249787e1ad72</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Socket Write Timeout</key>
<value>
    <name>Socket Write Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
    <name>oauth2-access-token-provider</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <dependencies>
        <propertyName>Basic Authentication Username</propertyName>
    </dependencies>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>send-message-body</propertyName>
    </dependencies>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <dependencies>
        <propertyName>form-body-form-name</propertyName>
    </dependencies>
    <name>set-form-filename</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <dependencies>
        <propertyName>Put Response Body In Attribute</propertyName>
    </dependencies>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-etag</propertyName>
    </dependencies>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>
    <name>cookie-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>
    <name>flow-file-naming-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>${sptrans.api.url}/Login/Autenticar?token=${sptrans.api.token}</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Socket Write Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>Set-Cookie</value>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>RANDOM</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SPTransAutenticacao</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>8b7a0a6f-6494-3191-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <position>
                        <x>1568.0</x>
                        <y>384.0</y>
                    </position>
                    <versionedComponentId>8b7a0a6f-6494-3191-97fc-f92a3979fefd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>
    <name>Content Type</name>
</value>
                            </entry>
                            <entry>
<key>Content Disposition</key>
<value>
    <name>Content Disposition</name>
</value>
                            </entry>
                            <entry>
<key>Cache Control</key>
<value>
    <name>Cache Control</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
<value>
    <name>s3-object-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>
    <name>s3-object-remove-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>
    <name>Storage Class</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
<value>
    <name>Expiration Time Rule</name>
</value>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>
    <name>FullControl User List</name>
</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>
    <name>Read Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>
    <name>Write Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>
    <name>Read ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>
    <name>Write ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>
    <name>canned-acl</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>custom-signer-class-name</key>
<value>
    <dependencies>
        <dependentValues>CustomSignerType</dependentValues>
        <propertyName>Signer Override</propertyName>
    </dependencies>
    <name>custom-signer-class-name</name>
</value>
                            </entry>
                            <entry>
<key>custom-signer-module-location</key>
<value>
    <dependencies>
        <dependentValues>CustomSignerType</dependentValues>
        <propertyName>Signer Override</propertyName>
    </dependencies>
    <name>custom-signer-module-location</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>
    <name>Multipart Threshold</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>
    <name>Multipart Part Size</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>
    <name>Multipart Upload AgeOff Interval</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>
    <name>Multipart Upload Max Age Threshold</name>
</value>
                            </entry>
                            <entry>
<key>s3-temporary-directory-multipart</key>
<value>
    <name>s3-temporary-directory-multipart</name>
</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>
    <name>server-side-encryption</name>
</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
    <name>encryption-service</name>
</value>
                            </entry>
                            <entry>
<key>use-chunked-encoding</key>
<value>
    <name>use-chunked-encoding</name>
</value>
                            </entry>
                            <entry>
<key>use-path-style-access</key>
<value>
    <name>use-path-style-access</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Object Key</key>
<value>sptrans/posicao/${now():format('yyyy')}/${now():format('MM')}/${now():format('dd')}/${now():format('HH')}/${uuid}.json
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>bronze</value>
                            </entry>
                            <entry>
<key>Content Type</key>
                            </entry>
                            <entry>
<key>Content Disposition</key>
                            </entry>
                            <entry>
<key>Cache Control</key>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>7652af9b-49e1-387f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>Standard</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>us-west-2</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>${s3.permissions.full.users}</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>${s3.permissions.read.users}</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>${s3.permissions.write.users}</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>${s3.permissions.readacl.users}</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>${s3.permissions.writeacl.users}</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>${s3.owner}</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>${s3.permissions.cannedacl}</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>http://minio:9000</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>custom-signer-class-name</key>
                            </entry>
                            <entry>
<key>custom-signer-module-location</key>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>60 min</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>7 days</value>
                            </entry>
                            <entry>
<key>s3-temporary-directory-multipart</key>
<value>${java.io.tmpdir}</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>None</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
                            </entry>
                            <entry>
<key>use-chunked-encoding</key>
<value>true</value>
                            </entry>
                            <entry>
<key>use-path-style-access</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutS3Object</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                </processors>
                <processors>
                    <id>f516c578-dde6-3518-0000-000000000000</id>
                    <parentGroupId>9b83056b-52a5-3a04-0000-000000000000</parentGroupId>
                    <position>
                        <x>1568.0</x>
                        <y>632.0</y>
                    </position>
                    <versionedComponentId>f516c578-dde6-3518-8cae-d7ca87a61bc1</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-transactions</propertyName>
    </dependencies>
    <name>transactional-id-prefix</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>
    <name>Failure Strategy</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
    <name>kerberos-user-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <dependencies>
        <dependentValues>PLAIN</dependentValues>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <dependencies>
        <dependentValues>PLAIN</dependentValues>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>aws.profile.name</key>
<value>
    <dependencies>
        <dependentValues>AWS_MSK_IAM</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>aws.profile.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <dependencies>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>partition</key>
<value>
    <name>partition</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka:9092</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>sptrans_posicoes_raw</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>Route to Failure</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>aws.profile.name</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>kafka-key</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>5 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>partition</key>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka_2_6</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>ingestao-sptrans</name>
            <variables>
                <entry>
                    <key>sptrans.api.token</key>
                    <value>bb012efa0e605fc817114150c124827c7797c5b67c8a9794a132c03d1677ce99</value>
                </entry>
                <entry>
                    <key>sptrans.api.url</key>
                    <value>http://api.olhovivo.sptrans.com.br/v2.1</value>
                </entry>
            </variables>
        </processGroups>
        <processGroups>
            <id>a7cb69e1-b993-3927-0000-000000000000</id>
            <parentGroupId>91ca5e45-087f-371e-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>a7cb69e1-b993-3927-accf-961285630108</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>62f10db3-cdc1-3546-0000-000000000000</id>
                    <parentGroupId>a7cb69e1-b993-3927-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a7cb69e1-b993-3927-0000-000000000000</groupId>
                        <id>b86b6011-6f07-324c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>a7cb69e1-b993-3927-0000-000000000000</groupId>
                        <id>d03662f2-3674-31a1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>b86b6011-6f07-324c-0000-000000000000</id>
                    <parentGroupId>a7cb69e1-b993-3927-0000-000000000000</parentGroupId>
                    <position>
                        <x>880.0</x>
                        <y>96.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>
    <name>Content Type</name>
</value>
                            </entry>
                            <entry>
<key>Content Disposition</key>
<value>
    <name>Content Disposition</name>
</value>
                            </entry>
                            <entry>
<key>Cache Control</key>
<value>
    <name>Cache Control</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
<value>
    <name>s3-object-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>
    <name>s3-object-remove-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>
    <name>Storage Class</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
<value>
    <name>Expiration Time Rule</name>
</value>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>
    <name>FullControl User List</name>
</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>
    <name>Read Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>
    <name>Write Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>
    <name>Read ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>
    <name>Write ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>
    <name>canned-acl</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>custom-signer-class-name</key>
<value>
    <dependencies>
        <dependentValues>CustomSignerType</dependentValues>
        <propertyName>Signer Override</propertyName>
    </dependencies>
    <name>custom-signer-class-name</name>
</value>
                            </entry>
                            <entry>
<key>custom-signer-module-location</key>
<value>
    <dependencies>
        <dependentValues>CustomSignerType</dependentValues>
        <propertyName>Signer Override</propertyName>
    </dependencies>
    <name>custom-signer-module-location</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>
    <name>Multipart Threshold</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>
    <name>Multipart Part Size</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>
    <name>Multipart Upload AgeOff Interval</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>
    <name>Multipart Upload Max Age Threshold</name>
</value>
                            </entry>
                            <entry>
<key>s3-temporary-directory-multipart</key>
<value>
    <name>s3-temporary-directory-multipart</name>
</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>
    <name>server-side-encryption</name>
</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
    <name>encryption-service</name>
</value>
                            </entry>
                            <entry>
<key>use-chunked-encoding</key>
<value>
    <name>use-chunked-encoding</name>
</value>
                            </entry>
                            <entry>
<key>use-path-style-access</key>
<value>
    <name>use-path-style-access</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Object Key</key>
<value>gtfs/${filename}</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>bronze</value>
                            </entry>
                            <entry>
<key>Content Type</key>
                            </entry>
                            <entry>
<key>Content Disposition</key>
                            </entry>
                            <entry>
<key>Cache Control</key>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>7652af9b-49e1-387f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>Standard</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>us-west-2</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>${s3.permissions.full.users}</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>${s3.permissions.read.users}</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>${s3.permissions.write.users}</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>${s3.permissions.readacl.users}</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>${s3.permissions.writeacl.users}</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>${s3.owner}</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>${s3.permissions.cannedacl}</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>http://minio:9000</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>custom-signer-class-name</key>
                            </entry>
                            <entry>
<key>custom-signer-module-location</key>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>60 min</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>7 days</value>
                            </entry>
                            <entry>
<key>s3-temporary-directory-multipart</key>
<value>${java.io.tmpdir}</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>None</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
                            </entry>
                            <entry>
<key>use-chunked-encoding</key>
<value>true</value>
                            </entry>
                            <entry>
<key>use-path-style-access</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutS3Object</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                </processors>
                <processors>
                    <id>d03662f2-3674-31a1-0000-000000000000</id>
                    <parentGroupId>a7cb69e1-b993-3927-0000-000000000000</parentGroupId>
                    <position>
                        <x>225.0</x>
                        <y>103.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>/opt/nifi/gtfs-data-local</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>.*\.txt</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 d</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetFiles</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>cadastral-sptrans</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>10/31/2025 20:45:38 GMT</timestamp>
</template>
